
:host {
    display: block;
    // padding: 20px;
    // display: flex;
    // padding: 30px;
    // background-color: #00d3bc;
    // height: 234px;
    // width: auto;
    display: block;
    padding: 48px;
    background-color: rgba(18, 170, 186, 0.7);
    // overflow-y: auto;
    // overflow-y: auto;
    font-weight: 500;
    font-family: sans-serif;
  }
  
  .mat-dialog-title {
    margin-bottom: 10px;
  }
  
  .mat-dialog-content {
    margin-bottom: 20px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
  .modal-content {
    // width: 80%;
    max-width: 500px; 
  }
  
  .borrow-button {
    background-color: #007bff;
   // color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: green;
    color: white;
  }
  
  .borrow-button:disabled {
    color: gray;
    cursor: not-allowed;
  }
  
  mat-mdc-dialog-container {
    position: absolute;
    display: table-header-group;
}
.modal-content {
  display: flex;
}

.details-section {
  flex: 1;
  padding-right: 20px; 
  
}


.image-section img {
  float: right;
  margin-top: -200px;
  margin-right: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-rating {
  color: #d3d3d3;
  font-size: 24px;
}

.star-rating .filled {
  color: #ffcc00; 
}

.close{
  margin-left: 450px;
}

